<!DOCTYPE html>
<!--[if IE 8]> <html lang="es" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="es" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="es">
<!--<![endif]-->
<head>
    <title><%- title %></title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Plain HTML template">
    <meta name="author" content="Rutha">     
    <link rel="stylesheet" href="../public/app/css/main.css" >    
    <script src="../public/node_modules/systemjs/dist/system.src.js"></script>
    <script src="../public/app/system.config.js"></script>
    <script>
      System.import('app/app.js');
    </script>
    <script src="//localhost:9091"></script>
    </head>
    <body>
    <!-- Fixed navbar -->
    <%= navbar %>

    <!-- Begin page content -->
    <div class="container">
    <div ui-view></div>

      <div ng-view>
      </div>
    </div>

    <div class="footer">
      <div class="container">
        <p class="text-muted">Rutha / MIT Licensed / Made in Panama.</p>
      </div>
    </div>
    </body>
    </html>
