<div class="container">
  <div class="col-sm-6 col-sm-offset-3">
    <h1>{{ ::vm.title }}</h1>
    <form action="/auth/login" method="post">
      <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" name="email">
      </div>
      <div class="form-group" ng-if="vm.canReset">
        <label>Password</label>
        <input type="password" class="form-control" name="password">
      </div>
      <button type="submit" class="btn btn-warning btn-lg">Login</button>
    </form>

    <hr ng-if="vm.canReset">

    <p ng-if="vm.canReset">Forgot password? <a href="#login/forgot">Reset login</a></p>

  </div>
</div>
